{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

    }
    section {
        display: inline-block;
        margin-left: 86px;
    }
    h1 {
        font-weight: 900px;
        font-size: 100px;
        line-height: 122px;
        color: #515151;
    }
    h2 {
        font-weight: 500px;
        font-size: 58px;
        line-height: 71px;
        color: #515151;
    }
    p {
        font-weight: 400px;
        font-size: 24px;
        line-height: 29px;
        color: black;
        width: 515px;
        margin-top: 32px;
        margin-bottom: 65px;
    }
    
    .buttom-main {
        background: #adff00;
        border-radius: 30px;
        width: 239px;
        height: 64px;
        border: none;
        cursor: pointer;
        font-weight: 700px;
        font-size: 28px;
        line-height: 34px;
        color: #ffffff;

    }



header {
    margin: 44px 0 144px 76px;

}

.link-header {
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: black;
    cursor: pointer;
    margin-right: 23px;

}

.buttom-header {
    background-color: darkslateblue;
    border-radius: 20.5px;
    width: 130px;
    height: 41px;
    border: none;
    font-weight: 600;
    font-size: 24px;
    list-style: 29px;
    color: #FFFF;
}
